<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} by Ariel Liu </title>
<link rel="stylesheet" href="/css/ccsf/bootstrap.min.css">
<link rel="stylesheet" href="/css/ccsf/flexslider.css">
<link rel="stylesheet" href="/css/ccsf/main.css">
<link rel="stylesheet" href="/css/ccsf/responsive.css">
<link rel="stylesheet" href="/css/ccsf/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35519723-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Header Section -->
  <section class="tophead" role="tophead"> 
    <!-- Navigation Section -->
    <header id="header">
      <div class="header-content clearfix"> <a class="logo" href="/ccsf/">Ariel Liu</a>

      </div>
    </header>
  </section>

  {{ content }}

  <!-- footer section -->
  <footer id="contact" class="footer">
    <div class="container-fluid">
      <div class="col-md-2 left">
        <h4>Contact</h4>
        <p> Call: 315.333.2232 <br>
          Email : <a href="mailto:start@helloarielliu.com"> start@helloarielliu.com </a></p>
      </div>
    </div>
  </footer>
  <!-- footer section --> 
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.flexslider-min.js"></script> 
<script src="/js/retina.min.js"></script> 
<script src="/js/modernizr.js"></script> 
<script src="/js/main.js"></script>
</body>
</html>

