---
layout: default
---
<div class="work">
<h2>{{ page.title }}</h2>
<!-- <p class="meta">{{ page.date | date_to_string }}</p> -->
<!--     <div class="hero"><img src="{{ page.thumb }}" class="thumb" alt="{{ page.title }} thumbnail"></div> -->
<div class="overview">
  <div class="tag" id="media">{{ page.media }}</div>
  <div class="tag" id="tools">{{ page.tools }}</div>
  <div class="tag" id="timeframe">{{ page.date | date_to_string }}</div>
  <div class="tag" id="deliverables">{{ page.deliverables }}</div>
</div>

<div class="post">
{{ content }}
</div>
</div>